body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
  opacity:0.71;
  transition:none;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:15px;
  width:1px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:69px;
  width:1px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:40px;
  width:1px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:40px;
  width:172px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:90px;
  width:258px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:413px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:360px;
  height:413px;
  display:flex;
  opacity:0.31;
  transition:none;
  transform-origin:50% 50%;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:140px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.2196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:213px;
  width:130px;
  height:140px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:228px;
  width:40px;
  height:42px;
  display:flex;
  transition:none;
  color:#F2F2F2;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:283px;
  width:111px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u47 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:82px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.7058823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:243px;
  width:141px;
  height:82px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:271px;
  width:74px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u49 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:269px;
  width:31px;
  height:26px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:82px;
  background:inherit;
  background-color:rgba(1, 111, 160, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:406px;
  width:141px;
  height:82px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:82px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.42745098039215684);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:406px;
  width:141px;
  height:82px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:434px;
  width:38px;
  height:30px;
  display:flex;
  transition:none;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:430px;
  width:38px;
  height:35px;
  display:flex;
  transition:none;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:437px;
  width:104px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:437px;
  width:104px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u56 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:582px;
  width:360px;
  height:58px;
  display:flex;
  opacity:0;
  transition:none;
  transform-origin:50% 50%;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:589px;
  width:25px;
  height:29px;
  display:flex;
  transition:none;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:589px;
  width:24px;
  height:29px;
  display:flex;
  transition:none;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:618px;
  width:26px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u60 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:618px;
  width:52px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u61 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:618px;
  width:26px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u62 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:591px;
  width:26px;
  height:27px;
  display:flex;
  transition:none;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
