body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
  opacity:0.5;
  transition:none;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:31px;
  width:111px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:31px;
  width:14px;
  height:17px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u253_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:31px;
  width:62px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u253 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u253.disabled {
}
.u253_input_option {
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:550px;
  display:flex;
  opacity:0.4;
  transition:none;
  transform-origin:50% 50%;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:127px;
  width:31px;
  height:23px;
  display:flex;
  transition:none;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:150px;
  width:233px;
  height:122px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:165px;
  width:226px;
  height:92px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:313px;
  width:28px;
  height:30px;
  display:flex;
  transition:none;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:334px;
  width:233px;
  height:99px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:349px;
  width:226px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u261_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u261_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u261_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  filter:drop-shadow(none);
  transition:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:553px;
  width:300px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  filter:drop-shadow(none);
  transition:none;
}
#u261.hint {
}
#u261_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  filter:drop-shadow(none);
  transition:none;
}
#u261.disabled {
}
#u261_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  filter:drop-shadow(none);
  transition:none;
}
#u261.hint.disabled {
}
#u262 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:558px;
  width:25px;
  height:28px;
  display:flex;
  transition:none;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-style:normal;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:603px;
  width:83px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-style:normal;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
