body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
  opacity:0.5;
  transition:none;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:31px;
  width:111px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:31px;
  width:14px;
  height:17px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:96px;
  width:92px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:92px;
  width:44px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u247_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u247_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u247_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:134px;
  width:300px;
  height:132px;
  display:flex;
  opacity:0.57;
  transition:none;
  transform-origin:50% 50%;
}
#u247 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u247_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u247.hint {
}
#u247_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u247.disabled {
}
#u247_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u247.hint.disabled {
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:304px;
  width:175px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u249_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u249_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u249_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:345px;
  width:300px;
  height:152px;
  display:flex;
  opacity:0.57;
  transition:none;
  transform-origin:50% 50%;
}
#u249 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u249.hint {
}
#u249_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u249.disabled {
}
#u249_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u249.hint.disabled {
}
