body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
  opacity:0.5;
  transition:none;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:30px;
  width:74px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:31px;
  width:14px;
  height:17px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:96px;
  width:74px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u190_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:121px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u190 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u190.disabled {
}
.u190_input_option {
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:142px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:159px;
  width:26px;
  height:24px;
  display:flex;
  transition:none;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:160px;
  width:46px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:210px;
  width:37px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:212px;
  width:45px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:242px;
  width:13px;
  height:25px;
  display:flex;
  transition:none;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:247px;
  width:80px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:280px;
  width:21px;
  height:16px;
  display:flex;
  transition:none;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:280px;
  width:85px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:200px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.06681224263426731deg);
  -moz-transform:rotate(-0.06681224263426731deg);
  -ms-transform:rotate(-0.06681224263426731deg);
  transform:rotate(-0.06681224263426731deg);
  transition:none;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:353px;
  width:299px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:376px;
  width:25px;
  height:24px;
  display:flex;
  transition:none;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:367px;
  width:74px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体 Bold", "华文楷体", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:393px;
  width:121px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"华文楷体", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:15px;
  filter:drop-shadow(none);
  transition:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:521px;
  width:299px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
